# Dependencies
node_modules

# Build outputs
.next
out
dist
build

# Cache
.turbo
.cache

# Logs
*.log

# Environment files
.env*
!.env.example

# Lock files
package-lock.json
yarn.lock
pnpm-lock.yaml

# Git
.git
.gitignore
